
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.toggle-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 127px;
  height: 24px;
  margin-top: 116px;
  padding-left: 896px;
  padding-right: 896px;
  padding-top: 0px;
  border: 0px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  color: #000000;
}

.title {
  width: 695px;
  height: 164px;
  margin-top: 42px;
  padding-left: 613px;
  padding-right: 613px;
  font-family: 'Chillax', sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 81.52px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  color: #2D2D2D;
}

.pricing-table {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  height: 841px;
  top: 599px;
  left: 158px;
  gap: 60px;

}

.pricing-column {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: center;
  border: none;
  width: 495px;
  height: 841px;
  padding: 60px, 60px, 80px, 60px;
  gap: 58px;
  margin: 10px;
  border-radius: 8px;
  background-color: #F8F8F8;
  height: fit-content;  
}

.details-list {
  margin-bottom: 80px;
}

.price {
  font-size: 2.5em;
  color: #2D2D2D;
}

.member-price-text {
  font-size: 0.75em;
  color: gray;
}

h2 {
  margin-top: 50px;
  margin-bottom: 0px;
  color: #2D2D2D;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

hr {
  width: 75%;
  opacity: 0.4;
}


.monthly, .yearly {
  background-color: #c7c7c7;
  border: 1px solid #c7c7c7;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  border-radius: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .5rem 2rem;
  text-align: center;
  color: black;
  text-decoration: none black solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-top: none;
}

.monthly:hover {
  background-color: #2D2D2D;
  color:#bdbdbd; 
}


.monthly.inactive {
  background-color: white; 
  
}

.yearly:hover {
  background-color: #2D2D2D;
  color: #bdbdbd;
}


.yearly.inactive {
  background-color: white; 
}



.learn-more {
  background-color: #d8d8d8;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  border: 1px solid transparent;
  border-radius: .4rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-weight: 600;
  line-height: 1rem;
  padding: .5rem 2rem;
  text-align: center;
  color: black;
  text-decoration: none black solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 35%;

}

.learn-more:hover {
  background-color: #2D2D2D;
  color: white;
}

.learn-more:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .learn-more, .monthly, .yearly {
    padding: .75rem 1.5rem;
  }
}
  