.signup-page {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(201deg, white 49.9%, #0984e3 50.1%);
}

.signup-page::selection {
  background-color: #0B7FD7;
  color: white;
}

.signup-logo-image {
  box-shadow: none;
  position: absolute;
  left: 0;
  padding: 10px;
  cursor: pointer;
  max-height: 16px;
}

.signup-decoration-image {
  max-width: 200px;
  max-height: 130px;
  margin-left: 20px;
  margin-bottom: -1px;
  box-shadow: none;
}

.signup-form-first-p {
  margin: 0px;
  letter-spacing: normal;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px #E5E7EB;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, .1);
  max-width: 400px;
  width: 400px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 60px;
}

::placeholder {
  opacity: .5;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.signup-form label {
  display: block;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  letter-spacing: normal;
}

.signup-form-questions input {
  width: 400px;
  max-height: 40px;
  height: 30px;
  border: 1px solid #D6D6D6;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px;
  transition: .5s;
}

.signup-form-label {
  margin-bottom: -20px;
  margin-top: 25px;
  width: 400px;
  max-height: 55px;
  height: 55px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  letter-spacing: normal;
}

.signup-account {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  letter-spacing: normal;
}

.signup-account p {
  margin-right: 3px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  letter-spacing: normal;
}

.signup-log-link {
  text-decoration: none;
  color: #2D3436;
  font-weight: 700;
}

.signup-log-link:hover {
  color: #1890FF;
  transition: color .3s;
}

.signup-page button {
  border-radius: 10px;
  border: transparent;
  background-color: #0074CC;
  color: white;
  cursor: pointer;
  width: 400px;
  max-height: 55px;
  height: 55px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  letter-spacing: normal;
}

.signup-checkbox {
  display: flex;
  align-items: center;
}